.Board{
    position: relative;
    margin: 5% auto;
    margin-top: 0 auto;
    background-color: #100007;
    background-image: linear-gradient(#CCA43B 1px, transparent 1px),
    linear-gradient(90deg, #CCA43B 1px, transparent 1px);
}

.Cell {
    background: #A1EF8B;
    position: absolute;
}

.controls{
    margin-top: 20px;
}

.button{
    margin-left: 12px;
    cursor:pointer;
}